.browse-container{
    /* background-color: red; */
    width: 90%;
    margin: auto;
}
.browse-container h4{
    color: #3e3e3e;
    font-size: 1.33333rem;
}
.new-release{
    padding: 1.5rem 0 ;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}
.new-release .indivi-song{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: saddlebrown; */
    justify-content: flex-start;
}
.new-release p{
    /* width: 100%; */
    /* background-color: royalblue; */
    margin:0 0 1rem 1.2rem;
    text-align: center;
    /* margin-right: 1rem; */
}
.new-release-list{
    padding: 1rem 0 1.5rem 0;
    border-bottom: 1px solid rgba(182, 181, 181, 0.4);
    margin-bottom: 1.5rem;
}
.new-release-item{
    padding: 0.3rem 0.9rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    transition: all 0.3s;
}
.new-release-item:hover {
    background-color: rgb(218, 218, 214);
}
.new-release-lang-active{
    background-color: rgb(218, 218, 214);
}