@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100Vw;
    max-height: 100vh;
    max-width: 100%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #3e3e3e;
    background-color: #f6f6f6;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-align-c{
    align-items: center;
}
.secondary-text{
    font-size: 13px;
    color: #a9a9a9;
}
.rec-dot{
    display: none;
}

#aside-nav{
    margin-top: 1rem;
}
.new{
    width: 90%;
    margin: auto;
    padding: 0;
    background-color: red;
}
.center-el{
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.alter-icon{
    margin: 0 0.3rem -0.3rem 0.3rem;
}